In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
# fit
model = LogisticRegression()
model.fit(features, labels)

In [ ]:
# 새로운 속성 넣었을 때 1, 0 반환
model.predict(features)
# 분류될 확률 값 0에서 1사이 값 반환
model.predict_proba(features)

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 전처리 한 데이터 불러오기
filename = '/content/drive/MyDrive/Major/result.csv'
data = pd.read_csv(filename, encoding='utf-8')
data = data.drop(data.columns[0], axis=1)
data.head()

,c_year,ID,c_round,status,Rank1,Rank2,Rank3,Rank4,Rank5,Rank6,...,학점,takepoint,total1,total2,total3,total4,total5,total6,total7,total8
0,2020,N78010MD78451,1차,미신청,NaN,NaN,NaN,NaN,NaN,NaN,...,36,150.0,563.2500,563.2500,563.2500,563.2500,563.2500,563.2500,563.2500,563.2500
1,2020,N78010MD78451,2차,임의배정,NaN,NaN,NaN,NaN,NaN,NaN,...,36,150.0,563.2500,563.2500,563.2500,563.2500,563.2500,563.2500,563.2500,563.2500
2,2020,V44669WK46969,1차,미신청,NaN,NaN,NaN,NaN,NaN,NaN,...,33,137.5,457.4625,457.4625,457.4625,457.4625,457.4625,457.4625,457.4625,457.4625
3,2020,V44669WK46969,2차,임의배정,NaN,NaN,NaN,NaN,NaN,NaN,...,33,137.5,457.4625,457.4625,457.4625,457.4625,457.4625,457.4625,457.4625,457.4625
4,2020,D96945WC17810,1차,선발,국어국문학전공,영어영문학전공,중어중문학전공,문헌정보학전공,아동가족학전공,스페인어전공,...,42,150.0,994.1800,594.1800,594.1800,594.1800,594.1800,594.1800,594.1800,594.1800

국어국문학전공
일어일문학전공
중어중문학전공
영어영문학전공
불어불문학전공
독어독문학전공
스페인어전공
사학전공
철학전공
미술사학전공
문화인류학전공
경영학전공
회계학전공
국제통상학전공
법학전공
사회학전공
문헌정보학전공
심리학전공
아동가족학전공
사회복지학전공
정치외교학전공
의상디자인전공
-유아교육과-
컴퓨터공학전공
IT미디어공학전공
바이오공학전공
사이버보안전공
소프트웨어전공
생활체육학전공
식품영양학전공
정보통계학전공
화학전공
수학전공
-약학과-
동양화전공
서양화전공
실내디자인전공
텍스타일디자인전공

In [ ]:
# 컴퓨터공학전공 합격예측 모델
cs = data[data['Rank1']=='컴퓨터공학전공']
cs.head()
# cs = cs.drop(cs.columns)

,c_year,ID,c_round,status,Rank1,Rank2,Rank3,Rank4,Rank5,Rank6,...,학점,takepoint,total1,total2,total3,total4,total5,total6,total7,total8
592,2020,E21514MK60429,1차,선발,컴퓨터공학전공,소프트웨어전공,사이버보안전공,IT미디어공학전공,NaN,NaN,...,38,150.0,993.4750,993.4750,993.4750,993.4750,593.4750,593.4750,593.4750,593.4750
593,2020,F20393XA92659,1차,선발,컴퓨터공학전공,소프트웨어전공,IT미디어공학전공,사이버보안전공,NaN,NaN,...,39,150.0,995.2825,995.2825,995.2825,595.2825,595.2825,595.2825,595.2825,595.2825
594,2020,U16886DU97694,1차,선발,컴퓨터공학전공,소프트웨어전공,정보통계학전공,수학전공,NaN,NaN,...,36,150.0,993.5875,993.5875,993.5875,993.5875,593.5875,593.5875,593.5875,593.5875
595,2020,Z12490UQ12091,1차,선발,컴퓨터공학전공,사이버보안전공,IT미디어공학전공,화학전공,NaN,NaN,...,39,150.0,993.4900,993.4900,993.4900,993.4900,593.4900,593.4900,593.4900,593.4900
596,2020,E48473DA84085,1차,선발,컴퓨터공학전공,소프트웨어전공,바이오공학전공,식품영양학전공,NaN,NaN,...,39,150.0,995.2825,995.2825,995.2825,995.2825,595.2825,595.2825,595.2825,595.2825

In [ ]:
# ID, Rank1, c_result, gradepoint, takepoint, total1 : features
cs_1 = cs[['c_year','ID','c_result','score1','활동점수','gradepoint','takepoint','total1']]
cs_1.head()

,c_year,ID,c_result,score1,활동점수,gradepoint,takepoint,total1
592,2020,E21514MK60429,컴퓨터공학전공,400,300.0,143.4750,150.0,993.4750
593,2020,F20393XA92659,컴퓨터공학전공,400,300.0,145.2825,150.0,995.2825
594,2020,U16886DU97694,컴퓨터공학전공,400,300.0,143.5875,150.0,993.5875
595,2020,Z12490UQ12091,컴퓨터공학전공,400,300.0,143.4900,150.0,993.4900
596,2020,E48473DA84085,컴퓨터공학전공,400,300.0,145.2825,150.0,995.2825

In [ ]:
# 선발결과 boolean으로 변경
cs_1.loc[(cs_1['c_result']=='컴퓨터공학전공'), 'c_result']=1
cs_1.loc[(cs_1['c_result']!= 1), 'c_result']=0
cs_1['c_result'] = cs_1[['c_result']].apply(pd.to_numeric)

cs_1.head()

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
<ipython-input-42-f3c0a71ac5e4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cs_1['c_result'] = cs_1[['c_result']].apply(pd.to_numeric)

,c_year,ID,c_result,score1,활동점수,gradepoint,takepoint,total1
592,2020,E21514MK60429,1,400,300.0,143.4750,150.0,993.4750
593,2020,F20393XA92659,1,400,300.0,145.2825,150.0,995.2825
594,2020,U16886DU97694,1,400,300.0,143.5875,150.0,993.5875
595,2020,Z12490UQ12091,1,400,300.0,143.4900,150.0,993.4900
596,2020,E48473DA84085,1,400,300.0,145.2825,150.0,995.2825

In [ ]:
# 결과 엑셀파일로 저장
cs_1.to_csv('cs.csv')
cs_1.to_csv('cs.xlsx')

In [ ]:
features = cs_1[['score1','활동점수','gradepoint','takepoint','total1']]
result = cs_1['c_result']

In [ ]:
# 학습, 테스트 세트 분리
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, result)

In [ ]:
# 데이터 정규화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

train_features = scaler.fit_transform(train_features)
test_features = scaler.transform(test_features)

In [ ]:
# 정확도
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(train_features, train_labels)

print(model.score(train_features, train_labels))

0.9404761904761905

In [ ]:
# 테스트 세트 확인
print(model.score(test_features, test_labels))

0.9285714285714286

In [ ]:
# coefficients 확인 : 어떤 feature 의 영향이 큰지
# 'score1','활동점수','gradepoint','takepoint','total1'
print(model.coef_)

[[ 0.00000000e+00  8.80189350e-05  2.82178472e+00 -5.01695694e-02
   1.04171072e+00]]

In [ ]:
# 새로운 데이터 넣어서 예측
import numpy as np

kds = np.array([400, 300, 147, 150, 997])
kwangtal = np.array([400, 300, 120, 150, 970])

predict_major = np.array([kds, kwangtal])

In [ ]:
# 새로운 데이터 스케일링
predict_major = scaler.transform(predict_major)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [ ]:
# 예측
print(model.predict(predict_major))

[1 0]

In [ ]:
# 확률 예측

print(model.predict_proba(predict_major))

[[1.00000000e+00 1.85168296e-60]
 [1.00000000e+00 1.41814546e-61]]